*{
    box-sizing: border-box;
}

/*---------------*/
/* tag selectors */
/*---------------*/

html{
    font-family:sans-serif
}

header{
    height: 200px;
    width: 100%;
    background-color: cadetblue
}

header h1{
    /*width: 100%;
    width: 5vw; //to do: fix size of container"*/
    text-align: center;
    padding: 15px;
}

footer{
    text-align: center;
    padding: 15px;
    background-color:cadetblue;
}
/*---------------*/
/* class selectors */
/*---------------*/

.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-1{
    width: 25%;
    padding-top: 22px;
}

.col-1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col-1 ul li{
}

.col-1 ul li a:hover{
    background-color: dimgray;
    
}

.col-1 ul li a{
    width: 100%;
    padding: 8px;
    margin-bottom: 4px;
    display: block;
    color: white;
    text-decoration: none;
    background-color: cornflowerblue;
}

.col-2{
    width: 50%;
}

.col-3{
    width: 25%;
}

[class*="col-"]{
    float: left;
    padding: 15 px;
}

.side-info{

}

/*---------------*/
/* id selectors */
/*---------------*/

#page_title{
    margin-top: 1px;
}

/*---------------*/
/* media rules */
/*---------------*/

@media only screen and (max-width: 768px){
    [class*="col-"]{
        width: 100%;
        text-align: center;
    }
}
/*
@media only screen and (max-width: 767px){
    
}*/