*{
    box-sizing: border-box;
}

/*---------------*/
/* tag selectors */
/*---------------*/

html{
    font-family:sans-serif
}

header{
    height: 200px;
    width: 100%;
    background-color: cadetblue
}

header h1{
    /*width: 100%;
    width: 5vw; //to do: fix size of container"*/
    text-align: center;
    padding: 15px;
}

/*---------------*/
/* class selectors */
/*---------------*/

.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-1{
    width: 25%;
}

.col-2{
    width: 50%;
}

.col-3{
    width: 20%;
}

[class*="col-"]{
    float: left;
    padding: 15 px;
}

.side-info{

}

/*---------------*/
/* id selectors */
/*---------------*/

#page_title{

}